In [52]:
import pandas as pd

In [53]:
import matplotlib.pyplot as plt
import psycopg2
import getpass

In [54]:
%matplotlib inline
plt.style.use('ggplot')

In [55]:
# Create a database connection
user = 'postgres'
password = 'master'
host = 'localhost'
dbname = 'mimic'
schema = 'mimiciii'

In [56]:
# Connect to the database
con = psycopg2.connect(dbname=dbname, user=user, host=host, 
                       password=password)
cur = con.cursor()
cur.execute('SET search_path to {}'.format(schema))

In [57]:
# Get length of stay from the icustays table
query = \
"""
select l.subject_id ,count(distinct(charttime)) as lab_time_count
    from mimiciii.labevents l
    group by l.subject_id
"""

data = pd.read_sql_query(query,con)

In [58]:
# Display the first few rows of the data
data.head(150)

     subject_id  lab_time_count
0             2               3
1             3             138
2             4              88
3             5               1
4             6              81
5             7               2
6             8               4
7             9              35
8            10               6
9            11              38
10           12              63
11           13              51
12           16               1
13           17              54
14           18              16
15           19               8
16           20              27
17           21             116
18           22               4
19           23              38
20           24               5
21           25              26
22           26              12
23           27               2
24           28              24
25           30              11
26           31              37
27           32              45
28           33              21
29           34              10
..          ...             ...
120         131               4
121         132              90
122         133              60
123         134              31
124         135              45
125         136              10
126         137              53
127         138             105
128         139              21
129         140               9
130         141              35
131         142              18
132         143             125
133         144              25
134         145             501
135         146              96
136         147              40
137         148             126
138         149              23
139         150              19
140         151              57
141         152              60
142         153               2
143         154              47
144         155              10
145         156             268
146         157              74
147         158              33
148         159              84
149         160               7

[150 rows x 2 columns]

In [59]:
#diagnoses = data.plot.barh(y='lab_time_count', figsize=(5, 5), color='blue')

In [60]:
#plot = data.plot.pie(y='lab_time_count', figsize=(5, 5), legend=False, autopct='%1.1f%%')

In [61]:
Total = sum(data.lab_time_count)
print Total

2044412

In [62]:
data['lab_time_count'].mean()

44.201591282539134

In [63]:
data['lab_time_count'].median()

23.0

In [64]:
data['lab_time_count'].quantile([.1, .25, .5, .75, .9])

0.10      3.00
0.25      9.00
0.50     23.00
0.75     50.25
0.90    105.00
Name: lab_time_count, dtype: float64